<form [formGroup]="addressForm">
  <div fxLayoutGap="10px" fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-label>Wybierz protokół</mat-label>
      <mat-select formControlName="protocol" required>
        <mat-option *ngFor="let protocol of protocols" [value]="protocol">
          {{protocol}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Adres</mat-label>
      <input
              matInput
              placeholder="255.255.255.0 / localhost"
              formControlName="address"
              required
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Port</mat-label>
      <input matInput placeholder="3000" formControlName="port" required minlength="1" maxlength="5" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Wybierz metodę</mat-label>
      <mat-select formControlName="httpMethod" required>
        <mat-option *ngFor="let method of httpMethods" [value]="method">
          {{method}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-label>Ścieżka</mat-label>
      <input
              matInput
              placeholder="/api/clients/"
              formControlName="path"
              required
      />
    </mat-form-field>
  </div>
</form>
<div>Wygenerowany curl: <strong>{{ curlCommand }}</strong></div>

